body{
	overflow: hidden;
	background-image: url('1.jpg');
	background-size: cover;
	margin:  6vw 30vw;
}

.container-fluid{
	box-shadow: 1vw 1vw 2vw grey;
	background-color: white;
	text-align: center;
	border-radius: 2vw;
	padding: 2vw 1vw 1vw 6vw;
}